* {
  font-family: sans-serif;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gap-5,
.gap-25 {
  display: flex;
  gap: 5px;
}

.gap-25 {
  gap: 25px;
}

.gap-10-column,
.gap-20-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gap-20-column {
  gap: 20px;
}

.text-center {
  text-align: center;
}

.color-blue {
  color: blue;
}

.color-grey {
  color: grey;
}

.fw-5 {
  font-weight: 500;
}

.header-div {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.09);

}

.header-box-20 {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-box-20 span {
  cursor: pointer;

}

.header-box-50 {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.profile-icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  font-size: 20px;
  border-radius: 13px;
}

.nav-items {
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.active-item {
  background: aliceblue;
  color: blue;
  padding: 10px;
  border-radius: 10px;
}

.download-resume-btn {
  padding: 10px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-weight: 600;
}

.mainHome {
  min-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(135deg,
      #f5f7ff 0%,
      #eef2ff 40%,
      #e6ebff 100%);
}

.intro-panel {
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  gap: 10px;
}

.image-container {
  height: 350px;
  /* adjust 320–400px as needed */
  width: 40%;

  background: #f7f8fb;
  /* light card background */
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  display: flex;
  align-items: center;
  justify-content: center;

  /* soft shadow (modern UI style) */
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.05),
    0 4px 10px rgba(0, 0, 0, 0.03);

  /* optional smooth look */
  transition: 0.3s ease;
  animation: bubble 4s ease infinite;
}
.image-container img{
  border-radius: 20px;
}
.intro-info-section {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}

.label-tag {
  height: 25px;
  width: 230px;
  border: 1px solid black;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e2e8f0;
  border-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  translate: -70px;
}

.bg-green {
  background: green;
  color: white;
  border-radius: 50%;
}

.heading-3,
.heading-4 {
  font-size: 40px;
  font-weight: 700;
  color: black;
}

.heading-4 {
  font-size: 35px;
}

.intro-info-content p {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  color: grey;
}

.btn-section button {
  padding: 10px;
  width: 200px;
  justify-self: left;
  box-shadow: 0 8px 20px rgba(60, 111, 245, 0.18);
  border-radius: 10px;
  border: 1px solid grey;
}

.btn-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: left;
  min-height: 90px
}

.magic-btn {
  background: linear-gradient(90deg,
      #3c6ff5 0%,
      #8685ff 100%);
  color: white;
  border-radius: 10px;
}

.socio-media-label-sec {
  width: 100%;
  font-size: 23px;
  display: flex;
  gap: 25px;
  align-items: center;
  min-height: 90px;
}
.socio-media-label-sec .fa-brands  :hover{
  color:blue;
}
.subtxt {
  font-size: 16px;
  vertical-align: center;
  color: grey;
  line-height: 25px;
}

.cursor-pointer {
  cursor: pointer;
}

.about-me-section {
  min-height: 520px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.09);
  gap: 40px;
  background: #f8fafc;
}

.icon-badge {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-Container {
  height: 150px;
  width: 290px;
  border: 1px solid black;
  background: white;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s ease;
  border: 1px solid grey;
}

.about-Container:hover {
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.05),
    0 2px 6px rgba(0, 0, 0, 0.04);
}

.box-title {
  font-size: 18px;
  font-weight: 600;
}

.list-item {
  width: 90%;
}

.project-show-panel {
  height: 400px;
  background: white;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 0px 20px;
  border-radius: 12px;
}

.project-img-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-desc {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: justify;

}

.project-desc .label-tag {
  width: 100px;
  translate: 0px;
}

.list-item ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px;
  margin: 0px;
}

.list-item ul li {
  background: #e2e8f0;
  ;
  padding: 10px 7px;
  border-radius: 10px;
}

.project-desc ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.project-desc ul li {
  background: #e2e8f0;
  ;
  padding: 10px 7px;
  border-radius: 10px;
}

.gen-btn {
  height: 40px;
  width: 150px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 8px 20px rgba(60, 111, 245, 0.18);
  transition: all 0.5s ease;
}

.gen-btn:hover {
  transform: scale(1.08);
}

.cert-container {
  height: 60px;
  width: 350px;
  background-color: white;
  display: flex;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid grey;
}

.cert-icon {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cert-icon .material-symbols-outlined {
  background-color: rgb(200, 229, 255);
  padding: 10px;
  border-radius: 50%;
  color: blue;
}

.cert-info-panel {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

}

.cert-title {
  font-size: 18px;
  font-weight: 600;
}

.cert-subtxt {
  font-size: 16px;
  color: grey;
}

.communication-container {
  height: 300px;
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  background: linear-gradient(135deg,
      #ffffff 0%,
      #f3f6ff 50%,
      #eef2ff 100%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.rocket-icon {
  font-size: 30px;
}

.footer-container {
  height: 90px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background: #f8fafc;

}

@keyframes bubble {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}