*{
  font-family: sans-serif;
}
body{
  margin: 0px;
}
.header-div{
  height:65px;
  width:100%;
  display: flex;
  align-items: center;
  border:1px solid black;
}
.header-box-20{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.header-box-20 span{
  cursor: pointer;

}
.header-box-50{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.profile-icon{
  height:40px;
  width:40px;
  background: linear-gradient(135deg, #6C7AE0, #8FA4F3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  font-size: 20px;
  border-radius: 13px;
}
.nav-items {
  color: grey;
  cursor: pointer;
}
.active-item{
  background: aliceblue;
  color:blue;
  padding: 10px;
  border-radius: 10px;
}
.download-resume-btn{
  background: linear-gradient(135deg, #6C7AE0, #8FA4F3);
  padding: 10px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-weight: 600;
}