.message-container{
    height:570px;
    width:550px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 12px;
    background-color: white;
}
.message-container form{
    width: 100%;
    height: 100%;
    padding: 25px 15px 40px 15px;
}
form input{
    height:35px;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    margin-right: 20px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
form label{
    font-size: 16px;
    font-weight: 600;
}
form textarea{
    height:130px;
    resize: none;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    margin-right: 20px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.tilt{
    transform: translateY(-2px) rotate(-35deg);
}